.mwg_effect015 {
    display: flex;    flex-direction: column;    align-items: center;    gap: 8vw;    padding: 5vh 0 8vw;}

.mwg_effect015 .text {
    width: 34vw;    text-transform: uppercase;    text-align: center;}

.mwg_effect015 .container p {
    text-align: center;    font: 500 normal 8vw/0.9 'Lato', sans-serif;    letter-spacing: -0.05em;}

.mwg_effect015 p span {
    display: inline-block !important;}

.mwg_effect015 .word {
    line-height: 0.8;    position: relative;    text-transform: uppercase;    clip-path: polygon(0 2%, 0 98%, 100% 98%, 100% 2%) !important;}

.mwg_effect015 .word-hidden {
    position: absolute !important;    left: 0;    top: 0;    transform: translate(0, -100%);}


@media only screen and (max-width: 480px) {
    .mwg_effect015 .container p {
        font-size: 15vw;    }
    
    .mwg_effect015 .text {
        width: 99vw;    }
    
    .mwg_effect015 .container {
        width: 99% !important;    }
}





.mwg_effect003 .header {
    width: 100%;    display: block;    text-align: center;    text-transform: uppercase;}

.mwg_effect003 .header h2 {
  color: #fff !Important;  font-weight: 700 !Important;  font-size: 3.6vw !Important;  font-family: 'Lato', Arial, sans-serif;  line-height: 1em !Important;  border: solid 5px #ffcb08;  padding: 0.5em;  border-radius: 0.85em;  }

.mwg_effect003 {
    position: relative;    overflow: hidden;}

.mwg_effect003 .pin-height {
    height: 560vh;}
.mwg_effect003 .container {
    position: relative;    height: 100vh;}
.mwg_effect003 .circles {
    height: 100%;}
.mwg_effect003 .circle {
    width: 300vw;    height: 300vw;    border-radius: 100%;    position: absolute;    top :50%;    left: 50%;    transform: translate(-50%,0);    will-change: transform;}
.mwg_effect003 .card {
    width: 25vw;    aspect-ratio: 0.75;    border-radius: 0.7vw;    object-fit: cover;    position: absolute;    top: 0;    left: 50%;    transform:translate(-50%,55vh);    will-change: transform;    display: flex;    flex-direction: column;    justify-content: space-between;    text-align: center;    text-transform: uppercase;    padding: 1vw;}
.mwg_effect003 .card p {
    font-size: 1.6vw;    line-height: 0.94;}
.mwg_effect003 .card .aka {
    display: inline-block;    font-size: 1.2vw;    border: 0.15em solid currentColor;    border-radius: 100%;    padding: 0.8em;    margin: 0 0 3em;}


.mwg_effect003 h5 {
  font-weight: 700;  margin-bottom: 2em;  font-size: 2vw;}

.mwg_effect003 .card .top p {
    display: flex;    justify-content: space-between;}
.mwg_effect003 .card h2 {
    font: 800 normal 3.6vw / 0.8 'Lato', sans-serif;    letter-spacing: -0.03em;}
.mwg_effect003 .circle:nth-child(1) .card {
    background-color: #FC4C3B;    color: #702626;}
.mwg_effect003 .circle:nth-child(2) .card {
    background-color: #FF8308;    color: #FFDF40;}
.mwg_effect003 .circle:nth-child(3) .card {
    background-color: #DEDA8D;    color: #3D4331;}
.mwg_effect003 .circle:nth-child(4) .card {
    background-color: #71CFA3;    color: #184739;}
.mwg_effect003 .circle:nth-child(5) .card {
    background-color: #C4EF7A;    color: #184739;}
.mwg_effect003 .circle:nth-child(6) .card {
    background-color: #BCEFFF;    color: #0C3FD3;}



@media only screen and (max-width: 480px) {
  .mwg_effect003 .card {
    width: 56vw !Important;    border-radius: 1vw !Important;  }
  .mwg_effect003 .header h2 {
    font-size: 8vw !Important;    line-height: 1em !Important;  }
  .mwg_effect003 .circle {
    width: 250vw !Important;    height: 250vw !Important;  }
  .mwg_effect003 .card h2 {
       font: 800 normal 7vw / 0.8 'Lato', sans-serif;  }
  .mwg_effect003 .card .aka {
    font-size: 3.2vw;    padding: 0.8em;    margin: 0 0 2em;}
  .mwg_effect003 .card h5 {
    font-size: 5.6vw !Important;    margin-bottom: 1.4em !Important;  }
  .mwg_effect003 .card p {
    font-size: 4vw !Important;    line-height: 1.2em !Important;  }
}